.loader_size-m {
    box-sizing: border-box;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4.5px solid #6C757D;    
    border-bottom: 4.5px solid #fff;
    transform: rotate(-50.74deg);
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.loader_size-s {
    box-sizing: border-box;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 3px solid #6C757D;   
    border-bottom: 3px solid #fff;
    transform: rotate(-50.74deg);
    animation: spin 2s linear infinite;
}

.loader_size-l {
    box-sizing: border-box;

    position: absolute;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 6px solid #6C757D;   
    border-bottom: 6px solid #fff;
    transform: rotate(-50.74deg);   
    animation: spin 2s linear infinite;
}