@use "~styles/mixins.scss" as *;

.loader {
  align-self: center;
  justify-self: center;
}

.coin-list-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  background-color: #f8f9fa;
  width: 100%;
  overflow: hidden;
}

.coin-list__search,
.coin-list__categories,
.coin-list__tabs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.coin-list__search {
  @include container;
  padding-bottom: 0;
}
.coin-list__categories {
  @include container;
  padding-bottom: 0;
}
.coin-list__tabs {
  @include container;
  justify-content: space-around;
  padding-bottom: 0;
}

.coin-list__tabs {
  border-bottom: 1px solid #dfe2e4;
}

.coin-list__search {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.search-btn {
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  font-size: 22px;
}
.coin-list__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include container;
  padding-top: 7px;
  padding-bottom: 0;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
    border-radius: 9999px;
    background-clip: padding-box;
    background-color: darkgrey;
  }
}
.tabs__item {
  cursor: pointer;
  color: #6c757d;
  text-decoration: none;
}
.active {
  border-bottom: 3px solid #0063f5;
  color: #0063f5;
  text-decoration: none;
}
