@use "~styles/mixins.scss" as *;
.coin-page {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  font-weight: 450;
  font-family: "Circular Std";

  @media screen and (min-width: 900px) {
    flex-direction: row;
    gap: 50px;
  }

  &__text-info-container {
    max-width: 500px;
  }
  &__diagram-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    max-height: 100%;
  }

  &__back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 16px;
    border: 0;
    background: rgba(0, 0, 0, 0);
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $background;
    height: 40px;
  }

  &__price-container {
    display: flex;
    gap: 12px;
  }

  &__price {
    display: flex;
    align-items: center;
    color: $contrast;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }

  &__price-change {
    display: flex;
    align-items: center;
    color: $good-text;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__title {
    margin-left: 4px;
    color: $contrast;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  &__subtitle {
    color: $subtext;
    font-style: normal;
    font-size: 10px;
    line-height: 13px;
  }

  &__info-label {
    color: $subtext;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  &__info-numbers {
    color: #212529;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  &__description-header {
    margin-top: 21px;
    margin-bottom: 8px;
    color: $subtext;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__description-text {
    color: $contrast;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  &__interval-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & button {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 0.5px solid #dfe2e4;
      border-radius: 20px;
      background: #f8f9fa;
      padding: 6px 10px 6px 10px;

      color: #6c757d;
      font-style: normal;
      font-weight: 450;
      font-size: 12px;
      line-height: 15px;

      font-family: "Circular Std";

      &:hover {
        background: #e9ecef;
      }

      &.active {
        border-color: #0063f5;
        color: #0063f5;
      }
    }
  }
}
