@use "~styles/mixins.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f8f9fa;
  font-family: "Circular Std";
}

.wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
