@use "../../styles/mixins.scss" as *;

.multi-dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;
  background: #ffffff;
  width: 369px;

  &:focus {
    color: #343a40;
    // border: 0.5px solid #343A40;
  }

  & button {
    border: 0.5px solid $background;
    border-radius: 12px;
    background: #ffffff;
    background-image: url("../../assets/images/arrow.png");
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 8px;
    width: 100%;
    color: $subtext;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    font-family: "Circular Std", sans-serif;
    text-align: start;
    &:disabled {
      background: #f8f9fa;
    }
  }
}

.options-container {
  display: flex;
  position: absolute;
  top: 31px;
  flex-direction: column;
  z-index: 9;
  border: 0.5px solid #f8f9fa;

  border-radius: 12px;
  background-color: #f8f9fa;
  width: 369px;
  height: 400px;
  overflow: hidden;
  overflow: scroll;
  color: #343a40;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  font-family: "Circular Std", sans-serif;
  & :not(:first-child) {
    border-top: 0.5px solid #f8f9fa;
  }
  & input {
    visibility: hidden;
    max-height: 0;
  }
}
.option {
  z-index: 10;
  cursor: pointer;
  width: 100%;

  & label {
    display: inline-block;
    padding: 5px 8px 3px;
    width: 100%;
    color: #343a40;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    font-family: "Circular Std", sans-serif;
  }
}

.selected {
  background: $background;
}
